{
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",
  "tailwindStylesheet": "./client/src/app.css",
  "plugins": ["prettier-plugin-tailwindcss"]
}
