/* webssh2-client
   /client/css/menus.css
*/
#menu {
    display: inline-block;
    font-size: 16px;
    color: rgb(255, 255, 255);
    padding-left: 10px;
    z-index: 100;
    position: relative;
  }
  #menu:hover #dropupContent {
    display: block;
    cursor: pointer;
  }
  #logBtn {
    color: #000;
  }

  #downloadLogBtn,
  #logBtn,
  #stopLogBtn,
  #credentialsBtn,
  #reauthBtn {
    color: #000;
    display: none; /* Hide by default */
  }
  
  #logBtn.visible,
  #stopLogBtn.visible,
  #downloadLogBtn.visible,
  #credentialsBtn.visible,
  #reauthBtn.visible {
    display: block; /* Show when class 'visible' is added */
  }
  
  .menu-button {
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    padding: 12px 16px;
    width: 100%;
    text-align: left;
    cursor: pointer;
    display: block;
  }
  
  .menu-button:hover {
    background-color: #ccc;
  }
  
  .dropup {
    position: relative;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
  }
  #dropupContent {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    font-size: 16px;
    min-width: 160px;
    bottom: 100%;
    left: 0;
    z-index: 101;
  }
  #dropupContent a {
    color: #777;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  #dropupContent a:hover {
    background-color: #ccc;
  }
  .dropup:hover .dropbtn {
    background-color: #3e8e41;
  }
  #dropupContent.visible {
    display: block;
  }
