/* webssh2-client
   /client/src/css/terminal.css
*/
#terminalContainer {
  display: none;
  height: calc(100% - var(--bar-h));
  margin: 0 auto;
  padding: 2px;
  width: calc(100% - 1px);
}
#terminalContainer .terminal {
  background-color: #000000;
  color: #fafafa;
  height: calc(100% - var(--bar-h));
  padding: 2px;
}
#terminalContainer .terminal:focus .terminal-cursor {
  background-color: #fafafa;
  display: none;
}
#terminalContainer.visible {
  display: block;
}
#terminalContainer.with-header {
  height: calc(100% - (var(--bar-h) * 2));
}
